<section class="home" id="home">

    <div class="content">
        <h3>Registre seus livros</h3>
        <p>Uma forma rápida e eficiente de organizar sua biblioteca pessoal!</p>
        <a href="/register" class="btn">Cadastre-se</a>
    </div>

</section>