<section class="home" id="home">
    

    <div class="content">
        <h3>Registre seus livros</h3>
        <p>Forma rápida e eficiente de organizar sua biblioteca pessoal!</p>
        <a href="/register" id="botao-home">Cadastre-se</a>
    </div>

</section>
<article>
  <p>O site para você que sabe viver o melhor do mundo da leitura! </p>
</article>

<div id="infos">
    <ul>
        <li> <b>5.838.381</b> leitores</li>
        <li><b> 23.870.721</b> livros registrados</li>
    </ul>
</div>
